In [151]:
# Import the dependencies.
import pandas as pd
import numpy as np
# Import the requests library.
import requests
# Import the datetime module from the datetime library.
from datetime import datetime

In [152]:
# Create a set of random latitude and longitude combinations.
lat = np.random.uniform(low=-90.000, high=90.000, size=20)
lon = np.random.uniform(low=-180.000, high=180.000, size=20)
lat_lon = zip(lat, lon)
lat_lon

In [153]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lon)
coordinates

[(-14.759673023802293, 80.65392138226059),
 (32.01313177627435, -26.97634079682456),
 (34.814820746083996, 132.8922610061171),
 (12.23822836602531, 127.08148101768518),
 (42.18745663258386, 170.31806768152444),
 (0.757498389794975, 54.14477604469087),
 (-50.582908045721794, 156.7662896328432),
 (61.124631487069365, -93.45302215664616),
 (-3.5004499922008137, -10.622403822278727),
 (63.932721393931104, -138.45857069054222),
 (-45.599926485714676, -1.5385739579825497),
 (-86.44947680384648, 97.08837523411768),
 (-42.282160370295024, -133.53394679961207),
 (-38.15742288608253, 61.05116390143115),
 (65.96457820094102, 120.23423555700691),
 (85.90031225829847, -5.214085962554293),
 (56.2570386984504, 105.16219910507317),
 (-50.013474495658635, -69.44828468678024),
 (-9.835858566120208, -117.07295989289366),
 (20.16382533007456, -77.13976882161904)]

In [154]:
from citipy import citipy
from config import weather_api_key

In [155]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid=" + weather_api_key

In [156]:
city_weather = requests.get(url)

city_weather.json()

{'cod': '400', 'message': 'wrong latitude'}

In [157]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

20

In [158]:
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

hithadhoo mv
ponta delgada pt
miyoshi jp
san policarpo ph
nikolskoye ru
victoria sc
tuatapere nz
thompson ca
georgetown sh
mayo ca
cape town za
albany au
rikitea pf
saint-philippe re
verkhnevilyuysk ru
barentsburg sj
yantal ru
rio gallegos ar
atuona pf
campechuela cu

In [159]:
# Create an empty list to hold the weather data.
city_info = []

# Create counters.
record_count = 1
set_count = 1

In [160]:
   # Loop through all the cities in our list.
for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    url = url + "&q=" + cities[i]
    
    # Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    url = url + "&q=" + city.replace(" ","+")
    
     # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
     # Run an API request for each of the cities.
 #   try:
        # Parse the JSON and retrieve data.
    city_weather = requests.get(url).json()
        
        # Parse out the needed data.
    city_lat = city_weather["coord"]["lat"]
    city_lng = city_weather["coord"]["lon"]
    city_max_temp = city_weather["main"]["temp_max"]
    city_humidity = city_weather["main"]["humidity"]
    city_clouds = city_weather["clouds"]["all"]
    city_wind = city_weather["wind"]["speed"]
    city_country = city_weather["sys"]["country"]
    city_wdescription = city_weather["weather"][0]["description"]
        # Convert the date to ISO standard.
    city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')        
       
    # Append the city information into city_data list.
    city_info.append({"City": city.title(),
                      "Country": city_country,
                      "Lat": city_lat,
                      "Lng": city_lng,
                      "Max Temp": city_max_temp,
                      "Humidity": city_humidity,
                      "Cloudiness": city_clouds,
                      "Wind Speed": city_wind,
                      "Country": city_country,
                      "Weather": city_wdescription})

# If an error is experienced, skip the city.
#    except:
#        print("City not found. Skipping...")
#        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 1 | hithadhoo
Processing Record 2 of Set 1 | ponta delgada
Processing Record 3 of Set 1 | miyoshi
Processing Record 4 of Set 1 | san policarpo
Processing Record 5 of Set 1 | nikolskoye
Processing Record 6 of Set 1 | victoria
Processing Record 7 of Set 1 | tuatapere
Processing Record 8 of Set 1 | thompson
Processing Record 9 of Set 1 | georgetown
Processing Record 10 of Set 1 | mayo
Processing Record 11 of Set 1 | cape town
Processing Record 12 of Set 1 | albany
Processing Record 13 of Set 1 | rikitea
Processing Record 14 of Set 1 | saint-philippe
Processing Record 15 of Set 1 | verkhnevilyuysk
Processing Record 16 of Set 1 | barentsburg
Processing Record 17 of Set 1 | yantal
Processing Record 18 of Set 1 | rio gallegos
Processing Record 19 of Set 1 | atuona
Processing Record 20 of Set 1 | campechuela
-----------------------------
Data Retrieval Complete
-----------------------------

In [162]:
city_weather = requests.get(city_url).json()
city_weather

{'cod': '400', 'message': 'wrong latitude'}

In [161]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_info)
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather
0,Hithadhoo,MV,-0.6,73.0833,300.37,72,67,1.34,broken clouds
1,Ponta Delgada,MV,-0.6,73.0833,300.37,72,67,1.34,broken clouds
2,Miyoshi,MV,-0.6,73.0833,300.37,72,67,1.34,broken clouds
3,San Policarpo,MV,-0.6,73.0833,300.37,72,67,1.34,broken clouds
4,Nikolskoye,MV,-0.6,73.0833,300.37,72,67,1.34,broken clouds

In [58]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_info)
city_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather
0,Punta Arenas,-53.1500,-70.9167,279.21,56,0,6.17,CL,clear sky
1,Rikitea,-23.1203,-134.9692,294.61,70,41,4.53,PF,scattered clouds
2,Ribeira Grande,38.5167,-28.7000,298.37,69,20,5.14,PT,few clouds
3,Teguldet,57.3064,88.1667,287.16,74,54,2.37,RU,broken clouds
4,Verkhovazhye,60.7472,42.0465,287.16,95,88,3.28,RU,overcast clouds